<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header'); %> 

<body>
    <!-- <button class="btn btn-dark"></button> -->
    <section class="colored-section" id="title">
  
      <div class="container-fluid">
  
        <!-- Nav Bar -->
  
        <nav class="navbar navbar-expand-lg navbar-dark">
  
          <a class="navbar-brand" href="#">Lekha Jokha</a>
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
              <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#footer">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pricing">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#cta">Download</a>
              </li>
            </ul>
  
          </div>
        </nav>
  
  
        <!-- Title -->
  
        <div class="row">
  
          <div class="col-lg-6">
            <h1 class="big-heading">Get the Insights of your sales data in just one click</h1>
            <a class="btn btn-lg btn-warning register-button download-button" type="button" href="/register"><i class="fa-solid fa-address-card mx-1"></i>Register</a>
            <a class="btn btn-lg btn-primary login-button download-button" type="button" href="/login"><i class="fa-solid fa-code mx-1"></i>Login</a>
            <!-- <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-solid fa-address-card mx-1"></i>Register</button>
            <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-solid fa-code mx-1"></i> Login</button> -->
          </div>
  
          <div class="col-lg-6">
            <!-- <img class="title-image" src="images/iphone6.png" alt="iphone-mockup"> -->
          </div>
  
        </div>
  
      </div>
  
    </section>
  
  
    <!-- Features -->
  
    <section class="white-section" id="features">
  
      <div class="container-fluid">
  
        <div class="row">
          <div class="feature-box col-lg-4">
            <i class="icon fas fa-check-circle fa-4x"></i>
            <h3 class="feature-title">Store Your all data</h3>
            <p>You can store all your bill book and khatabook data in cloud</p>
          </div>
  
          <div class="feature-box col-lg-4">
            <i class="icon fas fa-bullseye fa-4x"></i>
            <h3 class="feature-title">Get Insights of Data</h3>
            <p>You will get all the insights and reports of your data</p>
          </div>
  
          <div class="feature-box col-lg-4">
            <i class="icon fas fa-heart fa-4x"></i>
            <h3 class="feature-title">Stock Management</h3>
            <p>Manage all your stocks and know what in your shop in just one click</p>
          </div>
        </div>
  
        <div class="row">
          <div class="feature-box col-lg-4">
            <i class="icon fas fa-check-circle fa-4x"></i>
            <h3 class="feature-title">Store Your all data</h3>
            <p>You can store all your bill book and khatabook data in cloud</p>
        </div>
  
        <div class="feature-box col-lg-4">
            <i class="icon fas fa-bullseye fa-4x"></i>
            <h3 class="feature-title">Get Insights of Data</h3>
            <p>You will get all the insights and reports of your data</p>
        </div>
  
          <div class="feature-box col-lg-4">
            <i class="icon fas fa-heart fa-4x"></i>
            <h3 class="feature-title">Stock Management</h3>
            <p>Manage all your stocks and know what in your shop in just one click</p>
          </div>
        </div>
  
  
      </div>
    </section>
  
  
    <!-- Testimonials -->
  
    <section class="colored-section" id="testimonials">
  
      <div id="testimonial-carousel" class="carousel slide" data-ride="false">
        <div class="carousel-inner">
          <div class="carousel-item active container-fluid">
            <h2 class="testimonial-text">Best Product in market for inventory management</h2>
            <!-- <img class="testimonial-image" src="images/dog-img.jpg" alt="dog-profile"> -->
            <em>Shubham Mandloi, Maa Reva Agro</em>
          </div>
          <div class="carousel-item container-fluid">
            <h2 class="testimonial-text">Great Experience using this</h2>
            <!-- <img class="testimonial-image" src="images/lady-img.jpg" alt="lady-profile"> -->
            <em>Harvendra, Jai Ambe Khaad Beej Bhandar</em>
          </div>
          <div class="carousel-item container-fluid">
            <h2 class="testimonial-text">It reduces my workload and saves my lots of time of analyzing the sales</h2>
            <!-- <img class="testimonial-image" src="images/lady-img.jpg" alt="lady-profile"> -->
            <em>Satyam Randhava, Narmada Agro Agency</em>
          </div>
          <div class="carousel-item container-fluid">
            <h2 class="testimonial-text">Great webiste for maintaing bills and sales data</h2>
            <!-- <img class="testimonial-image" src="images/lady-img.jpg" alt="lady-profile"> -->
            <em>Lupin choudhary, Lupin & Sons Pvt Ltd</em>
          </div>
        </div>
        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
        </a>
      </div>
  
    </section>
  
    <!-- Pricing -->
  
    <section class="white-section" id="pricing">
  
      <h2 class="section-heading">A Plan for All your needs</h2>
      <p>Simple and affordable price plans for you.</p>
  
      <div class="row">
  
        <div class="pricing-column col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header">
              <h3>FREE</h3>
            </div>
            <div class="card-body">
              <h2 class="price-text">Free</h2>
              <p>5 Bills Per Day</p>
              <p>100 Users Khata</p>
              <p>Unlimited App Usage</p>
              <button class="btn btn-lg btn-block btn-outline-dark" type="button">Sign Up</button>
            </div>
          </div>
        </div>
  
        <div class="pricing-column col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header">
              <h3>PRO</h3>
            </div>
            <div class="card-body">
              <h2 class="price-text">149 / mo</h2>
              <p>Unlimited Bills Per Day</p>
              <p>100 Users Khata</p>
              <p>Unlimited App Usage</p>
              <button class="btn btn-lg btn-block btn-outline-dark" type="button">Sign Up</button>
            </div>
          </div>
        </div>
  
        <div class="pricing-column col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3>PREMIUM</h3>
            </div>
            <div class="card-body">
              <h2 class="price-text">299 / mo</h2>
              <p>Unlimited Bills Per Day</p>
              <p>Unlimited Users Khata</p>
              <p>Get App Reports</p>
              <!-- <p>Unlimited App Usage</p> -->
              <button class="btn btn-lg btn-block btn-outline-dark" type="button">Sign Up</button>
  
            </div>
          </div>
        </div>
  
  
  
      </div>
  
    </section>
  
  
    <!-- Call to Action -->
  
    <section class="colored-section" id="cta">
      <div class="container-fluid">
        <h3 class="big-heading">Just start today and take Your sales to next level</h3>
        <a class="btn btn-lg btn-warning register-button download-button" type="button" href="/register"><i class="fa-solid fa-address-card mx-1"></i>Register</a>
        <a class="btn btn-lg btn-primary login-button download-button" type="button" href="/login"><i class="fa-solid fa-code mx-1"></i>Login</a>
        <!-- <button class="download-button btn btn-lg btn-dark" type="button"><i class="fab fa-apple"></i>Register</button>
        <button class="download-button btn btn-lg brn-light" type="button"><i class="fab fa-google-play"></i> Login</button> -->
      </div>
    </section>
  
  
    <!-- Footer -->
  
    <footer class="white-section" id="footer">
      <div class="container-fluid">
        <i class="social-icon fab fa-facebook-f"></i>
        <i class="social-icon fab fa-twitter"></i>
        <i class="social-icon fab fa-instagram"></i>
        <i class="social-icon fas fa-envelope"></i>
        <p>Made in India with </p>
        <p>© Copyright 2022 Lekha Jokha</p>
  
      </div>
    </footer>
  
  
  </body>
</html>